<%
    /* NKC-71-R5, NKC-71-R7, NKC-116, NKC-137 */
%>

<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ page import="com.tcc.generic.utils.JSPUtils"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>


<script>
<% if(((String)request.getAttribute("javax.servlet.forward.request_uri")).split("/").length == 2)
{
    out.println("$(function() { $(\"a.formatHref\").attr(\"href\", function(index, oldValue) {");
    out.println("if (! sessionStorage.tabID) { sessionStorage.tabID = Date.now();} ");
} 

else
{
    out.println("$(function() { $(\"a.formatHref\").attr(\"href\", function(index, oldValue) { return formatHref(oldValue); });");
    out.println("$(\"form.formatHref\").attr(\"action\", function(index, oldValue) { return formatHref(oldValue); });");
    out.println("$(\"form.formatHref\").attr(\"data-url\", function(index, oldValue) { return formatHref(oldValue);});});");
}
%>
	function formatHref(oldValue) {
		if (!oldValue)
			return '';

		if (!sessionStorage.tabID)
			sessionStorage.tabID = Date.now();

		var temp = '';
		if (window.location.pathname.split('/')[2] != sessionStorage.tabID)
			temp ="oldIdTab="+window.location.pathname.split('/')[2];

		return oldValue.replace('{idGuia}', sessionStorage.tabID)+"?"+temp;
	}
	
	function getUrl(url) {
		return window.location.protocol + "//" + window.location.host + "/" + window.location.pathname.split('/')[1] + "/" + sessionStorage.tabID + "/" + url;
	}

	//NKC-71-R4
	function validarModificacoesVersaoDocumento(elementForm)
	{
		return elementForm.elements["documento.nmTitulo"].value != elementForm.elements["documento.nmTitulo_temp"].value ||
		       elementForm.elements["nrVersao"].value != elementForm.elements["nrVersao_temp"].value ||
			   elementForm.elements["documento.nrDocumento"].value != elementForm.elements["documento.nrDocumento_temp"].value;
	}

	// NKC-71-R4
	function validarModificacoesComentario(elementForm)
	{
		return elementForm.elements["dsComentario"].value != elementForm.elements["dsComentario_temp"].value;
	}
</script>

<!-- #########   Suporte  ######### -->
<!--[if lt IE 9]><script src="<c:url value="/js/browser/html5shiv.min.js"/>"></script><script src="<c:url value="/js/browser/respond.min.js"/>"></script><![endif]-->
<script src="<c:url value="/js/browser/modernizr-2.8.3.min.js" />"/></script>

<!-- #########   Browser Reject - Pede pra atualizar browser com menos de IE9   ######### -->
<script src="<c:url value="/js/jReject/js/jquery.reject.min.js"/>"></script>

<script src="<c:url value="/js/bootstrap/js/button.min.js"/>"></script>
<script src="<c:url value="/js/bootstrap/js/collapse.min.js"/>"></script>
<script src="<c:url value="/js/bootstrap/js/dropdown.min.js"/>"></script>
<script src="<c:url value="/js/bootstrap/js/modal.min.js"/>"></script>
<script src="<c:url value="/js/bootstrap/js/tab.min.js"/>"></script>
<script src="<c:url value="/js/bootstrap/js/tooltip.min.js"/>"></script>
<script src="<c:url value="/js/bootstrap/js/transition.min.js"/>"></script>

<!-- #########   Bootstrap Date Range Picker   ######### -->
<script type="text/javascript" src="<c:url value="/js/bootstrap/bootstrap-daterangepicker/daterangepicker.min.js"/>"></script>
<script type="text/javascript" src="<c:url value="/js/bootstrap/bootstrap-daterangepicker/moment.min.js"/>"></script>

<!-- #########   Chosen   ######### -->
<script type="text/javascript" src="<c:url value="/js/chosen/chosen.jquery.min.js"/>"></script>

<!-- #########   Wysihtml5   ######### -->
<script src="<c:url value="/js/wysihtml5/parser_rules/advanced_unwrap.js"/>"></script>
<script src="<c:url value="/js/wysihtml5/dist/wysihtml5x-toolbar.min.js"/>"></script>

<!-- #########   Bootstrap Editable   ######### -->
<script type="text/javascript" src="<c:url value="/js/bootstrap/bootstrap-editable/js/bootstrap-editable.min.js"/>"></script>

<!-- #########   Infinite Scroll   ######### -->
<script type="text/javascript" src="<c:url value="/js/infinite-scroll/jquery.infinitescroll.min.js"/>"></script>

<!-- #########   FileUpload   ######### -->
<script src="<c:url value="/js/file-upload/js/vendor/jquery.ui.widget.js"/>"></script>
<script src="<c:url value="/js/file-upload/js/jquery.fileupload.js"/>"></script>
<script src="<c:url value="/js/file-upload/js/jquery.iframe-transport.js"/>"></script>
<script src="<c:url value="/js/file-upload/js/jquery.fileupload-process.js"/>"></script>
<script src="<c:url value="/js/file-upload/js/jquery.fileupload-ui.js"/>"></script>
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="<c:url value="/js/file-upload/js/cors/jquery.xdr-transport.js"/>"></script>
<![endif]-->

<% /*
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->

<!-- The Templates plugin is included to render the upload/download listings -->
<script src="<c:url value="/js/file-upload/js/tmpl.min.js"/>"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->

<!-- The basic File Upload plugin -->

<!-- The File Upload processing plugin -->

<!-- The File Upload user interface plugin -->

<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->

*/
%>

<script src="<c:url value="/js/main.js"/>"></script>
<script src="<c:url value="/js/uploadfunction.js"/>"></script>