<%
    /* NKC-71-R5, NKC-71-R7, NKC-116 */
%>

<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ page import="com.tcc.generic.utils.JSPUtils"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<%-- <script src="<c:url value="/js/jquery-1.11.0.min.js"/>"></script> --%>

<!-- #########   Fontes  ######### -->
<%-- <link rel="stylesheet" media="screen"  href="<c:url value="/fonts/FontAwesome/css/font-awesome.min.css" />"> --%>
<%-- <link rel="stylesheet" media="screen"  href="<c:url value="/fonts/OpenSans/opensans.min.css" />"> --%>

<!-- #########   Suporte  ######### -->
<!--[if lt IE 9]><script src="<c:url value="/js/browser/html5shiv.min.js"/>"></script><script src="<c:url value="/js/browser/respond.min.js"/>"></script><![endif]-->

<%-- <link rel="stylesheet" media="screen"  href="<c:url value="/js/jReject/css/jquery.reject.min.css" />"> --%>

<!-- #########   Bootstrap   ######### -->
<link rel="stylesheet" media="screen"  href="<c:url value="/css/bootstrap.min.css" />">

<!-- #########   Bootstrap Date Range Picker   ######### -->

<!-- #########   Chosen   ######### -->
<%-- <link rel="stylesheet" media="screen"  href="<c:url value="/js/chosen/bootstrap-chosen.min.css" />"> --%>

<!-- #########   Wysihtml5   ######### -->

<!-- #########   Bootstrap Editable   ######### -->
<%-- <link rel="stylesheet" media="screen"  href="<c:url value="/js/bootstrap/bootstrap-editable/css/bootstrap-editable.min.css" />"> --%>


<!-- #########   CSS  ######### -->
<link rel="stylesheet"  href="<c:url value="/css/animate.css" />">
<link rel="stylesheet" media="screen"  href="<c:url value="/css/utility.css" />">
<link rel="stylesheet" media="screen"  href="<c:url value="/css/main.css" />">