<% /* NKC-71-R5, NKC-71-R7, NKC-96-R6 */ %>

<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ page import="com.tcc.generic.utils.JSPUtils" %>

<%@ taglib prefix="c"  uri="http://java.sun.com/jsp/jstl/core" %>

<div id="result"></div>
<nav class="navbar navbar-default" role="navigation"> 
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li>
					<div class="dropdown navbar-form">
						<button class="btn btn-default dropdown-toggle" type="button" id="drop-projetos" data-toggle="dropdown"> Ambientes <span class="caret"></span> </button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop-projetos">
							<c:forEach var="ambiente" items="${ambientes}">
								<li role="presentation"><a role="menuitem" class="formatHref" tabindex="-1" href="<%= JSPUtils.getEnderecoUrl(pageContext) %>/{idGuia}/cabecalho/trocarAmbiente/${ambiente.ambiente.cdId}">${ambiente.ambiente.nmAmbiente}</a></li>								
							</c:forEach>						
						</ul>
					</div>
				</li>
				<li><a href="#"><i class="fa fa-cog"></i></a></li>
				<li><a href="#"><i class="fa fa-flag"></i><span class="badge" style="background-color:red; position:absolute; top:5px; right:-15px">3</span></a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Digite o código, título ou descrição do documento">
				</div>
				<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Minha Página</a></li>
				<li><a href="#">Atividades</a></li>
				<li><a class="formatHref" href="<%= JSPUtils.getEnderecoUrl(pageContext) %>/{idGuia}/documento">Documentos</a></li>
				<c:choose>
					<c:when test="${podeConvidar}">
						<li><a class="formatHref" href="<%= JSPUtils.getEnderecoUrl(pageContext) %>/{idGuia}/ambienteUsuario">Contatos</a></li>
					</c:when>
					<c:otherwise>
						<li><a href="#">Contatos</a></li>
					</c:otherwise>
				</c:choose>
			</ul>
		</div>
		<!-- /.navbar-collapse --> 
	</div>
</nav>