<%
    /* NKC-71-R5, NKC-71-R7, NKC-116 */
%>

<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ page import="com.tcc.generic.utils.JSPUtils"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<div id="filtro" class="animated">
	<div class="toggle-filtro"><i class="fa fa-filter"></i></div>
	<h4 class="filtro-header"><strong>Filtro de Documentos</strong></h4>
	<div class="filtro-wrap">
		<div class="widget">
			<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="form-group">
				<label>Período Selecionado</label>
				<div class="input-group">
					<input type="text" name="periodo" class="form-control daterange" value="03/18/2013 - 03/23/2013" />
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span> </div>
			</div>
		</div>
		<div class="widget">
			<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="form-group">
				<label>Situação do documento</label>
				<select class="chosen" multiple data-placeholder="Selecione" id="situacao-doc">
					<option value="1">Aguardando análise</option>
					<option value="2">Aprovado</option>
					<option value="3">Conforme</option>
				</select>
			</div>
		</div>
		<div class="widget">
			<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="form-group">
				<label>Emitente / Destinatário</label>
				<select class="chosen" multiple>
					<option value="1">Aguardando análise</option>
					<option value="2">Aprovado</option>
					<option value="3">Conforme</option>
				</select>
			</div>
		</div>
		<div class="widget">
			<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="form-group">
				<label>Natureza</label>
                <select class="form-control chosen" id="natureza-dov">
					<option value="1">Natureza 1</option>
					<option value="2">Natureza 2</option>
					<option value="3">Natureza 3</option>
				</select>
			</div>
		</div>
		<div class="widget">
			<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="form-group">
				<label>Estrutura</label>
				<select class="chosen">
					<option value="1">Estrutura 1</option>
					<option value="2">Estrutura 2</option>
					<option value="3">Estrutura 3</option>
				</select>
			</div>
		</div>
		<div class="widget">
			<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="form-group">
				<label>Área</label>
				<select class="chosen">
					<option value="1">Área 1</option>
					<option value="2">Área 2</option>
					<option value="3">Área 3</option>
				</select>
			</div>
		</div>
		<div class="widget">
			<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<div class="form-group">
				<label>Sub-Área</label>
				<select class="chosen">
					<option value="1">Sub-Área 1</option>
					<option value="2">Sub-Área 2</option>
					<option value="3">Sub-Área 3</option>
				</select>
			</div>
		</div>
		<div class="widget margin-bottom20">
			<button class="btn btn-success btn-block">Definir filtros do Usuário</button>
		</div>
		<h5 class="filtro-header"><strong>Aplicar Filtro do Usuário</strong></h5>
		<div class="widget">
			<ul class="list-unstyled">
				<li><a href="#">Nome do Filtro Salvo 01</a>
					<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</li>
				<li><a href="#">Nome do Filtro Salvo 02</a>
					<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</li>
				<li><a href="#">Nome do Filtro Salvo 03</a>
					<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</li>
				<li><a href="#">Nome do Filtro Salvo 04</a>
					<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</li>
				<li><a href="#">Nome do Filtro Salvo 05</a>
					<button type="button" class="close exclui"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				</li>
			</ul>
		</div>
	</div>
</div>