/*------------------------------------*\
    Progress bar
\*------------------------------------*/
.ui-progressbar {
	position: relative;
}

.progress-label {
	position: absolute;
	left: 43%;
	top: 0px;
	font-weight: bold; //
	text-shadow: 1px 1px 0 #fff;
}

.ui-progressbar-overlay {
	height: 20px;
	background-color: #68d174;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

/*------------------------------------*\
    CONTEUDO
\*------------------------------------*/

/*------------------------------------*\
    FIELD ERROR / MESSAGE ERROR
\*------------------------------------*/
.formFieldError{ color:red; }
.msgERRO{ background-color: red; }
.msgALERTA{ background-color: yellow; }
.msgSUCESSO{ background-color: green; }