<% /* NKC-71-R5, NKC-71-R7 */ %>

<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ page import="com.tcc.generic.utils.JSPUtils" %>

<%@ taglib prefix="c"  uri="http://java.sun.com/jsp/jstl/core" %>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="<c:url value="/jsOLD/jquery/jquery-1.11.0.min.js"/>"></script>
<script>
$(function() {
	$("a.formatHref").attr("href", function(index, oldValue) {return formatHref(oldValue);});
	$("form.formatHref").attr("action", function(index, oldValue) {return formatHref(oldValue);});
	$("form.formatHref").attr("data-url", function(index, oldValue) {return formatHref(oldValue);});
});

function formatHref(oldValue)
{
	if(! oldValue)
		return '';
	
	if (! sessionStorage.tabID)
		sessionStorage.tabID = Date.now();
	
	if(window.location.pathname.split('/')[2] != sessionStorage.tabID)
		window.location.replace(window.location.origin + window.location.pathname.replace(window.location.pathname.split('/')[2], sessionStorage.tabID))
	
	return oldValue.replace('{idGuia}', sessionStorage.tabID);
}
</script>

<link rel="stylesheet" href="<c:url value="/cssOLD/bootstrap.min.css"/>">
<link rel="stylesheet" href="<c:url value="/cssOLD/main.css"/>">
<link rel="stylesheet" href="<c:url value="/cssOLD/utility.css"/>">
<link rel="stylesheet" href="<c:url value="/jsOLD/_jReject/css/jquery.reject.css"/>">
<link rel="stylesheet" href="<c:url value="/fontsOLD/css/font-awesome.min.css"/>">
<link rel="stylesheet" href="<c:url value="/jsOLD/_jReject/css/jquery.reject.css"/>">
<!--[if IE 7]><link rel="stylesheet" href="<c:url value="/fonts/css/font-awesome-ie7.min.css"/>"><![endif]-->

<!-- Java Scripts -->
<!--[if lt IE 9]><script src="<c:url value="jsOLD/_browser/html5shiv.js"/>"></script><script src="<c:url value="js/_browser/respond.min.js"/>"></script><![endif]-->
<script src="<c:url value="/jsOLD/_browser/modernizr-2.6.2.min.js"/>"></script>
<script src="<c:url value="/jsOLD/jquery/jquery-1.11.0.min.js"/>"></script>
<script src="<c:url value="/jsOLD/jquery/jquery-ui.js"/>"></script>
<script src="<c:url value="/jsOLD/jquery/jquery.fileupload.js"/>"></script>
<script src="<c:url value="/jsOLD/jquery/jquery.ajaxForm.js"/>"></script>
<script src="<c:url value="/jsOLD/jquery/jquery.iframe-transport.js"/>"></script>
<script src="<c:url value="/jsOLD/bootstrap/bootstrap.min.js"/>"></script>
<script src="<c:url value="/jsOLD/_jReject/js/jquery.reject.js"/>"></script>
<script src="<c:url value="/jsOLD/main.js"/>"></script>
<script src="<c:url value="/jsOLD/uploadfunction.js"/>"></script>