/*------------------------------------*\
    RESET
\*------------------------------------*/
.container{width:93%}
body{background-color: #ffffff;font-family:'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;color: #646464;}

button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}
.form-control::-moz-placeholder{color:#ccc;opacity:1}.form-control:-ms-input-placeholder{color:#ccc}.form-control::-webkit-input-placeholder{color:#ccc}
.form-control:focus {
border-color: #none;
outline: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
.page-header {
margin: 20px 0 20px;
}

.widget:hover>.exclui{
    display:block!important
}
.widget li:hover>.exclui{
    display:block!important
}
.col-xs-5-5 {
width: 47%;
}
.col-xs-5-5, .col-xs-1-1{
float: left;
}
.col-xs-1-1{
width: 6%;
}
.col-xs-5-5, .col-sm-5-5, .col-md-5-5, .col-lg-5-5, .col-xs-1-1{
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.panel-default>.panel-heading {
background-color: #fff;
cursor:pointer
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
background-color: #efefef;
}
a {
color: #888;
}
a:hover {
color: #333;
}

#filter .btn-link {
color: #888;
font-size:14px;
line-height:30px
}
#filter li.active .btn-link {
color: #333;
font-weight:bold
}
.editable-buttons .btn{
	background:none;
	color:#646464 ;
	border:none;
	padding:5px 0 0 0!important;
}
.btn:focus, .btn:active{
	
	border-color: transparent;
	box-shadow: none;
	outline: 0 none;
}
.form-horizontal p{
	margin: 5px 0 0 0;}
/*------------------------------------*\
    HEADER
\*------------------------------------*/
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background: #f7f7f7;
}

.navbar-brand{
    padding: 8px 20px 0 0;
}
.navbar-brand img{}

.divSelectAmbiente { float: left; position: relative; }
.divSelectAmbiente>span{ color: #c4c4c4; font-size:18px;float: left;padding: 16px 0 0; }

.conteudo{margin-top: 190px;margin-bottom: 40px;}
.conteudo-interna{margin-top: 120px;margin-bottom: 40px;}

/*------------------------------------*\
    TABELA
\*------------------------------------*/


.lista-head th{
	background-color: deepskyblue;
	color: #fff;
	line-height: 14px!important;
	vertical-align: middle !important;
}
.lista-head th a{ color: #fff; }



#lista td{
	border-top:none;
	border-bottom:1px solid #eee;
	border-right:1px solid #eee;
	position: relative;
}

table { border-collapse: separate; }


#lista td{ padding:10px }

#lista th:nth-child(2){min-width:80px}
#lista th:nth-child(3){min-width:90px}
#lista th:nth-child(4){min-width:130px}


#filter li{padding: 8px 0 0;}
#filter a{font-size: 13px;}
#filter a:hover{text-decoration:none; color: black;}
#filter a.active{color: black; font-weight: bold;}


.item{background-color:#fcfcfc; }

#lista{
	margin-bottom: 10px;
}

.item>ul>li{min-height: 100px;border-right: 1px solid #F1F1F1;}
.codigo{color:#ccc;  font-size:12px;float: left;}
.titulo{ /* font-weight:bold */}
.lista .dropdown>a{color:#333; margin-left:5px;width: 14px;float: left;cursor: pointer;}

.item>ul>li.coluna1,.item>ul>li.coluna2,.item>ul>li.coluna3,.item>ul>li.coluna4{padding:20px}
.total{ font-size: 18px; font-weight:bold; color:#78c0a8}
.fa-pencil{cursor:pointer}

.edit{ position:relative; float: left; padding-right: 20px;}
.edit a{float:left;}
.edit .fa-pencil{display:none; position: absolute;right: 0;top: 0;}
.edit:hover .fa-pencil{display:block;}
.btn-acoes{left: 20px;position: absolute;margin-top: 2px!important;}
.btn-acao{left: 16px;position: absolute; cursor:pointer;width: 20px;text-align: center;}
.btn-acao>a{display:block}
.btn-acao>a>.fa{font-size:20px}

.fa-envelope {color:#78c0a8;}
.fa-envelope:hover {color:#5d9985;}
.fa-flag {color:#c4c4c4;}
.fa-flag:hover {color:#646464;}
a.importante .fa-flag {color:#B20202;}
a.importante .fa-flag:hover {color:#840606;}

.bold{font-weight: bold;}

#button-more{
    display: none;
}
#infscr-loading{ position: absolute; margin: 10px 0 0;}

#infscr-loading img{display: none!important;}
#infscr-loading div{/* top: 53%; *//* width: 100%!important; */ /* text-align:center; *//* position: absolute; */}

.wysihtml5-sandbox{width:100%!important}
.wysiwyg-font-size-smaller {
  font-size: smaller;
}

.wysiwyg-font-size-larger {
  font-size: larger;
}

.wysiwyg-font-size-xx-large {
  font-size: xx-large;
}

.wysiwyg-font-size-x-large {
  font-size: x-large;
}

.wysiwyg-font-size-large {
  font-size: large;
}

.wysiwyg-font-size-medium {
  font-size: medium;
}

.wysiwyg-font-size-small {
  font-size: small;
}

.wysiwyg-font-size-x-small {
  font-size: x-small;
}

.wysiwyg-font-size-xx-small {
  font-size: xx-small;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}
