

/*** COLORS
------------------------------------------------------------------------- ***/

.white{
	color:#ffffff;
}
/*** TEXT
------------------------------------------------------------------------- ***/

.f10 {
  font-size: 10px;
  line-height: 20px;
}

.f11 {
  font-size: 11px;
  line-height: 20px;
}

.f12 {
  font-size: 12px;
  line-height: 20px;
}

.f13 {
  font-size: 13px;
  line-height: 20px;
}

.f14 {
  font-size: 14px;
  line-height: 20px;
}

.f16 {
  font-size: 16px;
  line-height: 20px;
}

.f18 {
  font-size: 18px;
  line-height: 20px;
}

.f20 {
  font-size: 20px;
  line-height: 20px;
}

.f22 {
  font-size: 22px;
  line-height: 20px;
}

.f24 {
  font-size: 24px;
  line-height: 1;
}

.f26 {
  font-size: 26px;
  line-height: 1;
}

.f28 {
  font-size: 28px;
  line-height: 1;
}

.f30 {
  font-size: 30px;
  line-height: 1;
}

.f32 {
  font-size: 32px;
  line-height: 1;
}

.f34 {
  font-size: 34px;
  line-height: 1;
}

.f36 {
  font-size: 36px;
  line-height: 1;
}

.f38 {
  font-size: 38px;
  line-height: 1;
}

.f40 {
  font-size: 40px;
  line-height: 1;
}

.f42 {
  font-size: 42px;
  line-height: 1;
}

.f50 {
  font-size: 50px;
  line-height: 1;
}

.f58 {
  font-size: 58px;
  line-height: 1;
}

.f64 {
  font-size: 64px;
  line-height: 1;
}

.f72 {
  font-size: 75px;
  line-height: 1;
}


.well-black strong {
  color: #fff
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.upper {
  text-transform: uppercase;
}

.em {
  font-style: italic;
}

.clickable {
  cursor: pointer;
}

.va-top {
  vertical-align: top !important
}

.va-middle {
  vertical-align: middle !important
}

/*** ALIGNMENT
------------------------------------------------------------------------- ***/

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*** CLEARINGING ELEMENTS
------------------------------------------------------------------------- ***/

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

/*** DISPLAY
------------------------------------------------------------------------- ***/

.block {
  display: block !important;
}

.overflow {
  overflow: visible;
}

.no-overflow {
  overflow: none !important;
}

.overflow-x {
  overflow-x: visible;
}

.overflow-y {
  overflow-y: visible;
}

.inline-block {
  display: inline-block;
 *display:inline;
 *z-index:1 !important;
}

/*** POSITION
------------------------------------------------------------------------- ***/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*** SHADOW
------------------------------------------------------------------------- ***/

.box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) !important;
}

.box-shadow-light {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.box-shadow-inset {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), inset 0px 10px 30px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), inset 0px 10px 30px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), inset 0px 10px 30px 0px rgba(255, 255, 255, 0.4);
}

.no-shadow {
  box-shadow: none !important;
}

/*** WRAP
------------------------------------------------------------------------- ***/

.image-wrap-out {
  background: #f3f3f3;
  border: 1px solid #e3e3e3;
}

.image-wrap-in {
  border: 1px solid #fff;
}

/*** RADIUS
------------------------------------------------------------------------- ***/

.radius4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
}

.radius-top4 {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  -webkit-background-clip: padding-box;
}

.radius-bototm4 {
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  -webkit-background-clip: padding-box;
}

.radius3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
}

.radius-top3 {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  -webkit-background-clip: padding-box;
}

.radius-bottom3 {
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  -webkit-background-clip: padding-box;
}

.radius2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
}

.radius-top2 {
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  -webkit-background-clip: padding-box;
}

.radius-bottom2 {
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px;
  -webkit-background-clip: padding-box;
}

.no-radius {
  border-radius: none !important;
}

/*** OPACITY
------------------------------------------------------------------------- ***/

.opaci15 {
  opacity: 0.15;
  filter: alpha(opacity=15);
}

.opaci25 {
  opacity: 0.25;
  filter: alpha(opacity=25);
}

.opaci35 {
  opacity: 0.35;
  filter: alpha(opacity=35);
}

.opaci45 {
  opacity: 0.45;
  filter: alpha(opacity=45);
}

.opaci55 {
  opacity: 0.55;
  filter: alpha(opacity=55);
}

.opaci65 {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.opaci75 {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.opaci85 {
  opacity: 0.85;
  filter: alpha(opacity=85);
}

/*** REMOVING
------------------------------------------------------------------------- ***/
/* Remove Border */

.no-border {
  border: none;
}

.no-border-top {
  border-top: none !important;
}

.no-border-right {
  border-right: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-left {
  border-left: none !important;
}

/* Remove Background */

.no-bg {
  background: none !important;
}

/* No Wrap */

.no-wrap {
  white-space: nowrap
}

/*** CORRECTION GAP and SPACE (2px 4px 8px 16px)
------------------------------------------------------------------------- ***/
/* Margin */

.margin2 {
  margin: 2px !important;
}

.margin5 {
  margin: 5px !important;
}

.margin10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin20 {
  margin: 20px !important;
}

.margin25 {
  margin: 25px !important;
}

.margin30 {
  margin: 30px !important;
}

.margin40 {
  margin: 40px !important;
}

/* Margin top */

.margin-top2 {
  margin-top: 2px !important;
}

.margin-top5 {
  margin-top: 5px !important;
}

.margin-top10 {
  margin-top: 10px !important;
}

.margin-top15 {
  margin-top: 15px !important;
}

.margin-top20 {
  margin-top: 20px !important;
}

.margin-top25 {
  margin-top: 25px !important;
}

.margin-top30 {
  margin-top: 30px !important;
}

.margin-top40 {
  margin-top: 40px !important;
}

/* Margin left */

.margin-left2 {
  margin-left: 2px !important;
}

.margin-left5 {
  margin-left: 5px !important;
}

.margin-left10 {
  margin-left: 10px !important;
}

.margin-left15 {
  margin-left: 15px !important;
}

.margin-left20 {
  margin-left: 20px !important;
}

.margin-left25 {
  margin-left: 25px !important;
}

.margin-left30 {
  margin-left: 30px !important;
}

.margin-left40 {
  margin-left: 40px !important;
}

/* Margin bottom */

.margin-bottom2 {
  margin-bottom: 2px !important;
}

.margin-bottom5 {
  margin-bottom: 5px !important;
}

.margin-bottom10 {
  margin-bottom: 10px !important;
}

.margin-bottom15 {
  margin-bottom: 15px !important;
}

.margin-bottom20 {
  margin-bottom: 20px !important;
}

.margin-bttm25 {
  margin-bottom: 25px !important;
}

.margin-bottom30 {
  margin-bottom: 30px !important;
}

.margin-bottom40 {
  margin-bottom: 40px !important;
}

/* Margin right */

.margin-right2 {
  margin-right: 2px !important;
}

.margin-right5 {
  margin-right: 5px !important;
}

.margin-right10 {
  margin-right: 10px !important;
}

.margin-right15 {
  margin-right: 15px !important;
}

.margin-right20 {
  margin-right: 20px !important;
}

.margin-right25 {
  margin-right: 25px !important;
}

.margin-right30 {
  margin-right: 30px !important;
}

.margin-right40 {
  margin-right: 40px !important;
}

/* Margin Remove */

.no-margin {
  margin: 0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

.no-margin-left {
  margin-left: 0px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.no-margin-right {
  margin-right: 0px !important;
}

.margin-side5 {
  margin-left: 5px;
  margin-right: 5px;
}

.margin-side10 {
  margin-left: 10px;
  margin-right: 10px;
}
.margin-side20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-side {
  margin-left: 15px;
  margin-right: 15px;
}

.margin-btn .btn {
  margin-bottom: 5px;
}

/* Use an element especially for correcting top and bottom gaps (a combination of size 0 s m x) */


.margin-00 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.margin-ss {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.margin-0s {
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}

.margin-s0 {
  margin-top: 5px !important;
  margin-bottom: 0 !important;
}

.margin-mm {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-0m {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

.margin-m0 {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

.margin-0x {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

.margin-x0 {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

.margin-ms {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.margin-sm {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}

.margin-xm {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.margin-mx {
  margin-top: 10px !important;
  margin-bottom: 20px;
}

.margin-xs {
  margin-top: 20px !important;
  margin-bottom: 5px !important;
}

.margin-sx {
  margin-top: 5px !important;
  margin-bottom: 20px !important;
}

.margin-xx {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margin-xxx {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

/* Padding */
/* 2 4 6 8 - use for progress bar */

.padding2 {
  padding: 2px !important;
}

.padding4 {
  padding: 4px !important;
}

.padding5 {
  padding: 5px !important;
}

.padding6 {
  padding: 6px !important;
}

.padding8 {
  padding: 8px !important;
}

.padding10 {
  padding: 10px !important;
}

.padding15 {
  padding: 15px !important;
}

.padding20 {
  padding: 20px !important;
}

.padding25 {
  padding: 25px !important;
}

.padding30 {
  padding: 30px !important;
}

/* Padding top */

.padding-top2 {
  padding-top: 2px !important;
}

.padding-top5 {
  padding-top: 5px !important;
}

.padding-top10 {
  padding-top: 10px !important;
}

.padding-top15 {
  padding-top: 15px !important;
}

.padding-top20 {
  padding-top: 20px !important;
}

.padding-top25 {
  padding-top: 25px !important;
}

.padding-top30 {
  padding-top: 30px !important;
}

/* Padding right */

.padding-right2 {
  padding-right: 2px !important;
}

.padding-right5 {
  padding-right: 5px !important;
}

.padding-right10 {
  padding-right: 10px !important;
}

.padding-right15 {
  padding-right: 15px !important;
}

.padding-right20 {
  padding-right: 20px !important;
}

.padding-right25 {
  padding-right: 25px !important;
}

.padding-right30 {
  padding-right: 30px !important;
}

/* Padding bottom */

.padding-bottom2 {
  padding-bottom: 2px !important;
}

.padding-bottom5 {
  padding-bottom: 5px !important;
}

.padding-bottom10 {
  padding-bottom: 10px !important;
}

.padding-bottom15 {
  padding-bottom: 15px !important;
}

.padding-bottom20 {
  padding-bottom: 20px !important;
}

.padding-bottom25 {
  padding-bottom: 25px !important;
}

.padding-bottom30 {
  padding-bottom: 30px !important;
}

/* Padding left */

.padding-left2 {
  padding-left: 2px !important;
}

.padding-left5 {
  padding-left: 5px !important;
}

.padding-left10 {
  padding-left: 10px !important;
}

.padding-left15 {
  padding-left: 15px !important;
}

.padding-left20 {
  padding-left: 20px !important;
}

.padding-left25 {
  padding-left: 25px !important;
}

.padding-left30 {
  padding-left: 30px !important;
}

/* Padding side */

.padding-side5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.padding-side25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.padding-side10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-side {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* Padding Remove */

.no-padding {
  padding: 0px !important;
}

.no-padding-top {
  padding-top: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

/* width element */

.width75  { width: 75px; }
.width100 { width: 100px; }
.width125 { width: 125px; }
.width150 { width: 150px; }
.width175 { width: 175px; }
.width200 { width: 200px; }
.width225 { width: 225px; }
.width250 { width: 250px; }
.width260 { width: 260px; }
.width275 { width: 275px; }
.width300 { width: 300px; }

/* width table column - use to <colgroup><col class=""><colgroup> */

.col2 {
  width: 2%
}

.col5 {
  width: 5%
}

.col10 {
  width: 10%
}

.col15 {
  width: 15%
}

.col20 {
  width: 20%
}

.col25 {
  width: 25%
}

.col30 {
  width: 30%
}

.col35 {
  width: 35%
}

.col40 {
  width: 40%
}

.col45 {
  width: 45%
}

.col50 {
  width: 50%
}

.col55 {
  width: 55%
}

.col60 {
  width: 60%
}

.col65 {
  width: 65%
}

.col70 {
  width: 70%
}

.col75 {
  width: 75%
}

.col80 {
  width: 80%
}

.col85 {
  width: 85%
}

.col90 {
  width: 90%
}

.col95 {
  width: 95%
}
